* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v5_267 {
  width: 100%;
  height: 2200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_268 {
  width: 100%;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_269 {
  width: 100%;
  height: 88px;
  background: rgba(60,99,176,1);
  opacity: 0.05999999865889549;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_270 {
  width: 159px;
  height: 42px;
  background: url("../images/v5_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1116px;
  overflow: hidden;
}
.v5_271 {
  width: 48px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_272 {
  width: 48px;
  color: rgba(60,99,176,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v5_273 {
  width: 91px;
  height: 42px;
  background: rgba(60,99,176,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  overflow: hidden;
}
.v5_274 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v5_275 {
  width: 372px;
  height: 18px;
  background: url("../images/v5_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 534px;
  overflow: hidden;
}
.v5_276 {
  width: 42px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_277 {
  width: 60px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 74px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_278 {
  width: 57px;
  color: rgba(60,100,177,1);
  position: absolute;
  top: 0px;
  left: 166px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_279 {
  width: 53px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 255px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_280 {
  width: 32px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 340px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_281 {
  width: 58px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 378px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v5_282 {
  width: 70px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 165px;
  overflow: hidden;
}
.v5_283 {
  width: 262px;
  color: rgba(60,99,176,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_286 {
  width: 445px;
  height: 398px;
  background: url("../images/v5_286.png");
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 111px;
}
.v5_415 {
  width: 495px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 356px;
  left: 721px;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_2591 {
  width: 542px;
  color: url("../images/v2_2591.png");
  position: absolute;
  top: 241px;
  left: 721px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_416 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 875px;
  left: 111px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v2_2843 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 658px;
  left: 111px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_461 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1394px;
  left: 111px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_417 {
  width: 233px;
  height: 192px;
  background: url("../images/v5_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 999px;
  left: 111px;
  overflow: hidden;
}
.v5_419 {
  width: 223px;
  height: 201px;
  background: url("../images/v5_419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 990px;
  left: 508px;
  overflow: hidden;
}
.v5_418 {
  width: 397px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1207px;
  left: 111px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2841 {
  width: 233px;
  height: 192px;
  background: url("../images/v2_2841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 999px;
  left: 878px;
  overflow: hidden;
}
.v2_2842 {
  width: 397px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1207px;
  left: 878px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_420 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1207px;
  left: 515px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2605 {
  width: 232px;
  height: 54px;
  background: url("../images/v2_2605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 720px;
  overflow: hidden;
}
.v5_421 {
  width: 232px;
  height: 54px;
  background: rgba(60,99,176,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_422 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 35px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_463 {
  width: 61px;
  height: 61px;
  background: url("../images/v5_463.png");
  opacity: 1;
  position: absolute;
  top: 1504px;
  left: 111px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_475 {
  width: 972px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1495px;
  left: 208px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2854 {
  width: 61px;
  height: 61px;
  background: url("../images/v2_2854.png");
  opacity: 1;
  position: absolute;
  top: 1735px;
  left: 111px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_2860 {
  width: 907px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1726px;
  left: 208px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2864 {
  width: 100%;
  height: 222px;
  background: url("../images/v2_2864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1948px;
  left: 111px;
  overflow: hidden;
}
.v2_2865 {
  width: 61px;
  height: 61px;
  background: url("../images/v2_2865.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_2871 {
  width: 972px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2844 {
  width: 229px;
  height: 34px;
  background: url("../images/v2_2844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 113px;
  overflow: hidden;
}
.v2_2592 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2593 {
  width: 17px;
  height: 18px;
  background: url("../images/v2_2593.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2594 {
  width: 5px;
  height: 17px;
  background: url("../images/v2_2594.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 2px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2595 {
  width: 5px;
  height: 5px;
  background: url("../images/v2_2595.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2596 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v2_2597 {
  width: 15px;
  height: 28px;
  background: url("../images/v2_2597.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 9px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2598 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  overflow: hidden;
}
.v2_2599 {
  width: 28px;
  height: 28px;
  background: url("../images/v2_2599.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2600 {
  width: 11px;
  height: 11px;
  background: url("../images/v2_2600.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2601 {
  width: 0px;
  background: url("../images/v2_2601.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 24px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2602 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 195px;
  overflow: hidden;
}
.v2_2603 {
  width: 31px;
  height: 21px;
  background: url("../images/v2_2603.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
  border: 2px solid rgba(0,0,0,1);
}
.v2_2604 {
  width: 8px;
  height: 9px;
  background: url("../images/v2_2604.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 2px solid rgba(0,0,0,1);
}
