* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v5_44 {
  width: 100%;
  height: 1360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_45 {
  width: 100%;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_46 {
  width: 100%;
  height: 88px;
  background: rgba(60,99,176,1);
  opacity: 0.05999999865889549;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_47 {
  width: 159px;
  height: 42px;
  background: url("../images/v5_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1116px;
  overflow: hidden;
}
.v5_48 {
  width: 48px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_49 {
  width: 48px;
  color: rgba(60,99,176,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v5_50 {
  width: 91px;
  height: 42px;
  background: rgba(60,99,176,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  overflow: hidden;
}
.v5_51 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v5_52 {
  width: 404px;
  height: 18px;
  background: url("../images/v5_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 518px;
  overflow: hidden;
}
.v5_53 {
  width: 47px;
  color: rgba(55,63,65,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_54 {
  width: 68px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 79px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_55 {
  width: 64px;
  color: rgba(60,100,177,1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_56 {
  width: 61px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 275px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_57 {
  width: 36px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 368px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_59 {
  width: 70px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 165px;
  overflow: hidden;
}
.v5_60 {
  width: 262px;
  color: rgba(60,99,176,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_61 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v5_68 {
  width: 100%;
  height: 349px;
  background: rgba(243,246,250,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 46px;
}
.v5_151 {
  width: 100%;
  height: 902px;
  background: rgba(243,246,250,1);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 41px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_64 {
  width: 713px;
  color: rgba(60,99,176,1);
  position: absolute;
  top: 224px;
  left: 372px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v5_69 {
  width: 553px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 322px;
  left: 452px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_251 {
  width: 184px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 218px;
  overflow: hidden;
}
.v5_252 {
  width: 242px;
  height: 171px;
  background: url("../images/v5_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_228 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_236 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_238 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 969px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_240 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 1129px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_229 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_237 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 889px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_239 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 1049px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_241 {
  width: 243px;
  height: 56px;
  background: rgba(188,235,214,1);
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 82px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_476 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 659px;
  left: 98px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_477 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 741px;
  left: 98px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_478 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 99px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_479 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 902px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_480 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 980px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_481 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1058px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_482 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1141px;
  left: 96px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_512 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1221px;
  left: 96px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
