* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_1034 {
  width: 100%;
  height: 1360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1187 {
  width: 100%;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1188 {
  width: 100%;
  height: 88px;
  background: rgba(33,150,83,1);
  opacity: 0.05999999865889549;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1189 {
  width: 159px;
  height: 42px;
  background: url("../images/v2_1189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1116px;
  overflow: hidden;
}
.v2_1190 {
  width: 48px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1191 {
  width: 48px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1192 {
  width: 91px;
  height: 42px;
  background: rgba(33,150,83,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  overflow: hidden;
}
.v2_1193 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1194 {
  width: 408px;
  height: 38px;
  background: url("../images/v2_1194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 516px;
  overflow: hidden;
}
.v2_1195 {
  width: 47px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1656 {
  width: 72px;
  height: 38px;
  background: url("../images/v2_1656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 79px;
  overflow: hidden;
}
.v2_1196 {
  width: 52px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1197 {
  width: 64px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 10px;
  left: 183px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1198 {
  width: 61px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 10px;
  left: 279px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1199 {
  width: 36px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 10px;
  left: 372px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1201 {
  width: 70px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 165px;
  overflow: hidden;
}
.v2_1202 {
  width: 262px;
  color: rgba(33,150,83,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1203 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
  overflow: hidden;
}
.v2_1266 {
  width: 636px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 307px;
  left: 165px;
  opacity: 1;
  text-align: left;
}
.v2_1390 {
  width: 194px;
  height: 49px;
  background: rgba(33,150,83,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 872px;
  left: 345px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1391 {
  width: 139px;
  height: 42px;
  background: rgba(60,99,176,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 87px;
  overflow: hidden;
}
.v2_1392 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1393 {
  width: 194px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2_1394 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1395 {
  width: 158px;
  height: 49px;
  background: rgba(33,150,83,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 960px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1396 {
  width: 139px;
  height: 42px;
  background: rgba(60,99,176,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 87px;
  overflow: hidden;
}
.v2_1397 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1398 {
  width: 158px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2_1399 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1388 {
  width: 521px;
  height: 577px;
  background: url("../images/v2_1388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 177px;
  overflow: hidden;
}
.v2_1389 {
  width: 462px;
  height: 458px;
  background: url("../images/v2_1389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 798px;
  overflow: hidden;
}
