* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_2446 {
  width: 100%;
  height: 1360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2447 {
  width: 100%;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2448 {
  width: 100%;
  height: 65px;
  background: rgba(33,150,83,1);
  opacity: 0.05999999865889549;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2449 {
  width: 388px;
  height: 18px;
  background: url("../images/v2_2449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 526px;
  overflow: hidden;
}
.v2_2450 {
  width: 47px;
  color: rgba(79,79,79,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2451 {
  width: 52px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 79px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2452 {
  width: 64px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 0px;
  left: 163px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2453 {
  width: 61px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 259px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2454 {
  width: 36px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 352px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2456 {
  width: 70px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 165px;
  overflow: hidden;
}
.v2_2457 {
  width: 262px;
  color: rgba(33,150,83,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_3039 {
  width: 175px;
  height: 241px;
  background: url("../images/v2_3039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 841px;
  left: 459px;
  overflow: hidden;
}
.v2_3008 {
  width: 175px;
  height: 241px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3009 {
  width: 175px;
  height: 237px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3010 {
  width: 219px;
  height: 284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v2_3011 {
  width: 219px;
  height: 189px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3012 {
  width: 219px;
  height: 189px;
  background: url("../images/v2_3012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_3013 {
  width: 219px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_3014 {
  width: 165px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 208px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_3000 {
  width: 175px;
  height: 241px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 165px;
  overflow: hidden;
}
.v2_3001 {
  width: 175px;
  height: 237px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3002 {
  width: 219px;
  height: 284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v2_3003 {
  width: 219px;
  height: 189px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3004 {
  width: 219px;
  height: 189px;
  background: url("../images/v2_3004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_3005 {
  width: 219px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_3006 {
  width: 179px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 197px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_3024 {
  width: 175px;
  height: 241px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 841px;
  left: 1046px;
  overflow: hidden;
}
.v2_3025 {
  width: 175px;
  height: 237px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3026 {
  width: 219px;
  height: 284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v2_3027 {
  width: 219px;
  height: 189px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3028 {
  width: 219px;
  height: 189px;
  background: url("../images/v2_3028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_3029 {
  width: 219px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_3030 {
  width: 143px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 213px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_3016 {
  width: 175px;
  height: 241px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 841px;
  left: 752px;
  overflow: hidden;
}
.v2_3017 {
  width: 175px;
  height: 237px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3018 {
  width: 219px;
  height: 284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v2_3019 {
  width: 219px;
  height: 189px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3020 {
  width: 219px;
  height: 189px;
  background: url("../images/v2_3020.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_3021 {
  width: 219px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_3022 {
  width: 203px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 213px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_2907 {
  width: 100%;
  height: 672px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  overflow: hidden;
}
.v2_2908 {
  width: 100%;
  height: 672px;
  background: rgba(47,128,237,1);
  opacity: 0.05999999865889549;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2909 {
  width: 445px;
  height: 338px;
  background: rgba(255,255,255,1);
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 830px;
  overflow: hidden;
}
.v2_2910 {
  width: 445px;
  height: 338px;
  background: rgba(255,255,255,1);
  margin: 40px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2911 {
  width: 445px;
  height: 254px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2912 {
  width: 445px;
  color: rgba(47,128,237,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_2913 {
  width: 445px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.v2_2914 {
  width: 445px;
  color: rgba(115,123,125,1);
  position: absolute;
  top: 294px;
  left: 0px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_2999 {
  width: 391px;
  height: 349px;
  background: url("../images/v2_2999.png");
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 163px;
}
