* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_1355 {
  width: 100%;
  height: 1360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1356 {
  width: 100%;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1357 {
  width: 100%;
  height: 88px;
  background: rgba(33,150,83,1);
  opacity: 0.05999999865889549;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1358 {
  width: 159px;
  height: 42px;
  background: url("../images/v2_1358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1116px;
  overflow: hidden;
}
.v2_1359 {
  width: 48px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1360 {
  width: 48px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1361 {
  width: 91px;
  height: 42px;
  background: rgba(33,150,83,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  overflow: hidden;
}
.v2_1362 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1363 {
  width: 388px;
  height: 18px;
  background: url("../images/v2_1363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 526px;
  overflow: hidden;
}
.v2_1364 {
  width: 47px;
  color: rgba(79,79,79,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1365 {
  width: 52px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 79px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1366 {
  width: 64px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 163px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1367 {
  width: 61px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 259px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1368 {
  width: 36px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 352px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1370 {
  width: 70px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 165px;
  overflow: hidden;
}
.v2_1371 {
  width: 262px;
  color: rgba(33,150,83,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1372 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
  overflow: hidden;
}
.v2_1373 {
  width: 636px;
  color: rgba(33,150,83,1);
  position: absolute;
  top: 307px;
  left: 165px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_1374 {
  width: 820px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 164px;
  border: 1px solid rgba(14,76,164,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1375 {
  width: 820px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 164px;
  border: 1px solid rgba(14,76,164,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1376 {
  width: 243px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 621px;
  left: 182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1377 {
  width: 243px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 480px;
  left: 182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1378 {
  width: 820px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 164px;
  border: 1px solid rgba(14,76,164,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1379 {
  width: 243px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 901px;
  left: 182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1380 {
  width: 820px;
  height: 93px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 164px;
  border: 1px solid rgba(14,76,164,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1381 {
  width: 243px;
  color: rgba(38,50,56,1);
  position: absolute;
  top: 761px;
  left: 182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_1382 {
  width: 195px;
  height: 49px;
  background: rgba(33,150,83,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 789px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_1383 {
  width: 139px;
  height: 42px;
  background: rgba(60,99,176,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 87px;
  overflow: hidden;
}
.v2_1384 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_1385 {
  width: 195px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 12px 18px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2_1386 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
