body {
    margin: 0;
    padding: 0;
    background: #ffffff;
  }
#nav {

    text-align:center;
    padding:20px;
    background-color: rgb(240, 247, 243);
    }
#nav li {
    display:inline;
    }
#nav a {
    text-decoration:none; 
    padding:0 30px; /* variable width */
    }

#title_left {
    text-align: left;
    padding:20px;
    background-color: rgb(240, 247, 243);
}

#bod_box{
    background-color: rgb(243,247,255);
    padding: 0%;
}

.left-picture > img{
    float: left;
}
.right-text{
    padding-right: 100px;
    float: right;
    vertical-align: middle;
}

.button {
    border: 2px solid rgb(47,128,238);
    background-color: rgb(186, 204, 239);
    color: rgb(47,128,238);
    padding: 14px 28px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;

  }

  #ABC {
    background-color: rgb(186, 204, 239);
    height: auto;
    position: absolute;
    left: 0;
    width: 100%;
  }